pytest>=3.3.2
pytest-cov
codecov
pyOpenSSL==24.2.1
pyDes
ntlm-auth
pyspnego
namedlist
# cryptography 3.4.5 fails build, requires rust compiler
# see example failure: https://ci.appveyor.com/project/denisenkom/pytds/builds/37803561/job/lln9d25ye5vnljbr
# requiring older cryptography library to avoid this error
cryptography==42.0.0
sqlalchemy-pytds
SQLAlchemy==2.0.34
mypy==1.7.1
pytest-mypy==0.10.3
ruff==0.6.3
setuptools==75.1.0