pytest>=3.3.2
pytest-cov
codecov
pyOpenSSL==24.3.0
pyDes
ntlm-auth
pyspnego
namedlist
cryptography==44.0.1
sqlalchemy-pytds
SQLAlchemy==2.0.34
mypy==1.7.1
pytest-mypy==0.10.3
ruff==0.6.3
setuptools==78.1.1